/* Dashboard.module.css */
.dashboardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 130px 130px 130px;
  width: 90%;
  margin: auto;
  gap: 24px;
}

.gender,
.weightAndAge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.gender > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  align-items: center;
  user-select: none;
}

.gender > div span:first-child {
  font-size: 72px;
}

.heightSlider input[type="range"] {
  width: 90%;
  margin: auto;
}

.incDecBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.incDecBtnContainer > span {
  padding: 4px;
  background: #0b1033;
  border-radius: 20px;
}
