/* Dashboard.module.css */
.dashboardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr 50px;
  width: 90%;
  margin: auto;
  row-gap: 24px;
}

.gender,
.weightAndAge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: center;
  justify-items: center;
}
