/* Dashboard.module.css */
.dashboardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px 131px 130px;
  width: 90%;
  margin: auto;
  gap: 24px;
}

.gender,
.weightAndAge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.gender > span {
  font-size: 72px;
  padding: 16px;
  text-align: center;
  align-self: center;
}

.heightSlider {
  display: grid;
}

.heightSlider > * {
  width: 90%;
  margin: auto;
}
