/* Result.module.css */
.resultContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr;
  width: 90%;
  margin: auto;
  gap: 16px;
  user-select: none;
}

.resultContainer > div:first-child {
    align-self: center;
}
