* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #0b1033;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.app-title {
  font-size: 24px;
  width: fit-content;
  margin: auto;
  padding: 16px;
}

.card {
  background-color: #282c4f;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-title-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.card-title {
  font-size: 12px;
  padding: 4px;
}

.card-subtitle {
  font-size: 36px;
}

button {
  background-color: #ff0067;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  border: none;
}

.highlight {
  color: #ffff00;
}
