* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #0b1033;
  color: #fff;
  text-transform: uppercase;
}

.app-title {
  font-size: 36px;
  width: fit-content;
  margin: auto;
  padding: 16px;
}

.card {
  background-color: #282c4f;
}

button {
  background-color: #ff0067;
  color: #fff;
  padding: 16px;
  font-size: 16px;
}
